.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #ffffff;
  color: white;
  transform: rotateY(180deg);
  h1{
        text-align: center;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: 15px;
        line-height: normal;
        font-family: Lato, sans-serif;
        color: #111;
        font-weight: bold;
  }
  h2{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Lato, sans-serif;
    color: #111;
  }
    a:not(:hover){
      font-family: inherit;
      color: rgb(0, 0, 0);
      text-decoration: none;
    }

  .button-proyecto{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    outline: 2px solid #fff;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
    margin-right: 30px;
    margin-left: 30px;
    border-bottom: groove;
  }

  .button-proyecto:hover{
    color: rgb(255, 255, 255);
  }
  .button-proyecto::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
  }
  .button-proyecto:hover::before{
    width: 150%;
  }
}
